<div class="question_wrapper">
  <p>Question {{questionNumber + 1}} of {{totalQuestionsCount}}</p>
  <p>{{text}}</p>

  <div class="question_block">
    <form [formGroup]="form">

      <div *ngIf="type == 'single'">
        <div *ngFor="let each of options; index as i" class="form-check">
          <input class="form-check-input" type="radio" value={{i}} formControlName="singleAnswer">
          <p>
            {{each}}
          </p>
        </div>
      </div>

      <div *ngIf="type == 'multiple'">
        <div class="form-check">
          <div *ngFor="let each of options; index as i" class="form-check">
            <input class="form-check-input" type="checkbox" value={{i}} (change)="onCheckChange($event)">
            <p>
              {{each}}
            </p>
          </div>
        </div>
      </div>

    </form>

    <button type="button" 
            class="btn btn-danger"
            (click)="onExitClicked()">
          Exit
    </button>

    <button *ngIf="type == 'single'"
            type="button" 
            class="btn btn-success"
            [attr.disabled]="form.controls.singleAnswer.valid ? null : ''"
            style="float: right;"
            (click)="submit()">
          Next
    </button>

    <button *ngIf="type == 'multiple'"
            type="button" 
            class="btn btn-success"
            [attr.disabled]="form.controls.multipleAnswer.value.length ? null : ''"
            style="float: right;"
            (click)="submit()">
          Next
    </button>
  </div>


</div>