<div class="available_tests_page_wrapper">
  <h4>Username</h4>
  <p>{{username}}</p>
  <h4>List of available tests</h4>

  <div class="tests_list">
    <div class="test_block" *ngFor="let test of tests;">
      <h5> {{test.name}}</h5>
      <p>{{test.questionsCount + " questions"}}</p>
      <button type="button" class="btn btn-light" (click)="goToTest(test.id)">
        Start
      </button>
    </div>
  </div>

  <button type="button" class="btn btn-danger" style="margin-top: 20px;" (click)="signOutClicked()">
    Sign Out
  </button>
</div>