.available_tests_page_wrapper{
  text-align: center;
}

.test_block{
  width: 200px;
  padding: 10px;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2px black;
}

.tests_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}