<div class="login_page_wrapper">
  <h5>Authorization</h5>
  <br>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" 
             class="form-control" 
             id="username" 
             placeholder="Username" 
             formControlName="login">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" 
             class="form-control" 
             id="password" 
             placeholder="Password"
             formControlName="password">
    </div>
    <button type="submit" 
            class="btn btn-primary"
            [attr.disabled]="form.valid && !processing ? null : ''"
            (click)="onLoginClicked()">
      Login
    </button>
    <br><br>
    <button type="button" 
            class="btn btn-danger"
            (click)="onBackClicked()">
          Back
    </button>
  </form>

</div>