<div class="home_wrapper">
	<p>Creditals to login in app:</p>
	<p>user1:pass1<strong> [ JS, C# ]</strong></p>
	<p>user2:pass2<strong> [ Python, C# ]</strong></p>

	<button type="button" 
          class="btn btn-success"
          [attr.disabled] = "initialized ? null : ''"
          (click)="onStartClicked()">
    Start
  </button>

</div>