<div class="test_page_wrapper">

  <h1>{{TestName}}</h1>

  <div *ngIf="!started">
    <p>{{TestQuestionsCount}} questions</p>
    <h5>Description: {{TestDescription}}</h5>
    <div class="agreed">
      <input class="form-check-input" type="checkbox" [formControl]="agreed">
      <p>
        I agree to start
      </p>
    </div>
    <button type="button" 
            class="btn btn-success"
            [attr.disabled]="agreed.value ? null : ''"
            (click)="onStartClicked()">
      Start test
    </button>
    <br>
    <button type="button" 
            class="btn btn-danger"
            style="margin-top: 20px;"
            (click)="closed()">
          Exit
    </button>
  </div>

  <div *ngIf="started && !finished">
    <question [text]="CurrentQuestionText"
              [options]="CurrentQuestionOptions"
              [type]="CurrentQuestionType"
              [questionNumber]="CurrentQuestionNmber"
              [totalQuestionsCount]="TestQuestionsCount"
              (answer)="questionAnswered($event)"
              (close)="closed($event)">
    </question>
  </div>

  <div *ngIf="started && finished">
    <p>{{TotalCorrectAnswersFromResult}} of {{TotalAnswersCountFromResult}} are correct!</p>
    <h2>{{CorrectAnswersPercentageFromResult}}%</h2>
    <button type="button" 
            class="btn btn-danger"
            style="margin-top: 20px;"
            (click)="closed()">
          Exit
    </button>
  </div>

</div>